

@{
    ViewBag.Title = "Home Page";
}


<br />

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/bkfstinbed.jpg" alt="Beach House">
            <div class="container">
                <div class="carousel-caption">
                    <h1>B&D B&B</h1>
                    <p class="lead">
                        Welcome to the Bef and Dee Bed and Breakfast otherwise known as B&D B&B!  Whether you're planning a
                        road trip or a staycation, leave winter in your rear view mirror and escape on a Spring B&D B&B getaway!
                    </p>
                    <a class="btn btn-large btn-primary" href="~/Reviews/Index">Sign up today</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/treehouse.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Shaker TreeHouse</h1>
                    <p class="lead">Crafted by renouned local architect.  Get away from the city life and live simply.</p>
                   
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/breakfast.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Breakfast in Bed at our Premium Downtown Location</h1>
                    <p class="lead">
                        You don't have to live the city life to enjoy the city life.  Stay with us and get the
                        VIP treatment.
                    </p>

                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/oldworld.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Old World Feel for New World Taste</h1>
                    <p class="lead">
                        Travel back to live in the old world.  Our Old World B&B has been in our family since 1800's.
                        With modern amenities, this old world house has just enough charm to make your soul take that much needed breath.
                    </p>

                </div>
            </div>
            <div class="item">
                <img src="~/Content/farmhouse.jpg">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Farm House</h1>
                        <p class="lead">
                            The Farmhouse at Veritas was built in 1836 and is surrounded by vineyards and is in walking distance to Veritas Winery. It is located in the foothills of the Blue Ridge Mountains with easy access to the Rockfish Gap Appalachian Trail. This area has recently been named
                            as one of the Top 10 Best Wine Travel Destinations in 2012 by Wine Enthusiast Magazine.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/brooklyn.jpeg">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Brooklyn Bridge Bed and Breakfast </h1>
                    <p class="lead">Steps away from the iconic Brooklyn Bridge, our DUMBO bed and breakfast is perfect for your city B&B</p>

                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/breakfast.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1>One more for good measure.</h1>
                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div><!-- /.carousel -->


<div class="row" align="center">
    <h2>Getting started</h2>
    <p>
        Not quite sure where you want to go?  Start here!  We have B&B's around the world.  Whether it's right down the stream from
        a mountain or feet in the sand, the journey to an amazing B&D B&B starts with one click.
    </p>
    
    <div class="col-md-4">

        <h2>Reviews</h2>
        <p>
            Read reviews of the bed and breakfast location.  Do you have a review?  Leave it here.
        </p>
        <p><a class="btn btn-default" href="~/Reviews/Index">Reviews &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Locations </h2>
        <p>Find a list of locations where we have our unique and relaxing B&B's.</p>
        <p><a class="btn btn-default" href="~/Categories/Index">Locations &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Skip the line and contact us here.</p>
        <p><a class="btn btn-default" href="#">Contact &raquo;</a></p>
    </div>
</div>
